$borderRadius: .3em;
:global {
	body, html {
		background: lightyellow;
		height: 100%;
		min-width: 300px;
		min-height: 300px;
		h2 {
			text-align: center;
			margin: 20px;
		}
	}

	#app {
		width: 90%;
		height: 80%;
		background: gray;
		margin: auto;
		position: relative;
		border: 5px solid black;
		border-radius: $borderRadius;
	}
	.item {
		max-width: 150px;
		position: absolute;
		color: darkblue;
		background: rgba(255, 255, 255, 0.8);
		display: inline-block;
		border: 1px solid black;
		padding: 4px 8px;
		border-radius: $borderRadius;
		cursor: move;
		opacity: 0;
		transition: opacity .8s;
	}
	.item.appear {
		opacity: 1;
	}
	.highlight {
		background: #f4f116;
		transition: background .5s cubic-bezier(.31,-0.52,.8,1.51);
	}
}